# Build folder (except HTML file)
build/main.js
build/dependencies.js
build/index.css

# Node
node_modules

# Vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Sublime
/*.sublime-project
*.sublime-workspace

# Linux
.*
!.gitignore
*~
